*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#message-container{
    width: 60vw;
    height: 60vh;
    background-color: rgb(110, 110, 99);
    border: 1px solid black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

}


#send-container{
    width: 100%;
}

#send-button{
    border: none;
    padding: 1.5rem;
    background-color: aqua;
}